contourpy==1.3.1
cycler==0.12.1
evdev==1.9.1
filelock==3.13.1
fonttools==4.56.0
freetype-py==2.5.1
fsspec==2024.6.1
imageio==2.37.0
Jinja2==3.1.4
keyboard==0.13.5
kiwisolver==1.4.8
MarkupSafe==2.1.5
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.3
numpy==1.26.0
packaging==24.2
pillow==11.0.0
pyglet==2.1.3
pynput==1.8.0
PyOpenGL==3.1.0
pyparsing==3.2.1
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pyrender==0.1.45
python-dateutil==2.9.0.post0
python-xlib==0.33
scipy==1.15.2
setuptools==70.2.0
six==1.17.0
smplx==0.1.28
sympy==1.13.1
torch==2.6.0+cpu
torchvision==0.21.0+cpu
trimesh==4.6.4
typing_extensions==4.12.2
